@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

input {
	margin: 0;
}

.login-container .header {
	width: 400px;
	height: 57px;
	margin: 0 auto 38px auto;
	padding: 100px 0 0 0;
	background: url(../img/logo.png) no-repeat 75px 100px;
}

.login-container form {
	color: #555;
	width: 420px;
	min-height: 300px;
	margin: 0 auto;
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 8px rgba(199,199,199,0.25), -1px -1px 8px rgba(199,199,199,0.25), 0 1px 1px #ffffff inset;
	-moz-box-shadow: 1px 1px 8px rgba(199,199,199,0.25), -1px -1px 8px rgba(199,199,199,0.25), 0 1px 1px #ffffff inset;
	box-shadow: 1px 1px 8px rgba(199,199,199,0.25), -1px -1px 8px rgba(199,199,199,0.25), 0 1px 1px #ffffff inset;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(center top , #f4f4f4, #ffffff);
	background-image: -ms-linear-gradient(top, #f4f4f4, #ffffff);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #ffffff);
	background-image: -o-linear-gradient(top, #f4f4f4, #ffffff);
	background-image: linear-gradient(top, #f4f4f4, #ffffff);
	box-shadow: #c7c7c7 0px 0px 1px\0;
	*box-shadow: #c7c7c7 0px 0px 1px;
	-pie-background: linear-gradient(#f4f4f4, #ffffff);
	position: relative;
	behavior: url(../css/PIE.htc);
	z-index: 1002;
}

.login-container form.feedback {
	padding-top: 20px;
}

.login-container form.error {
	padding-top: 40px;
	min-height: 240px;
	width: 580px;
}

.login-container form .legend {
	display: block;
	width: 390px;
	font-size: 14px;
	font-weight: bold;
	color: #5d5d5d;
	line-height: 14px;
	padding: 15px 0 15px 30px;
	margin-bottom: 0;
	*padding: 15px 0 8px 30px;
}

.login-container form hr {
	width: 410px;
	border: 0;
	border-top: 2px solid #d5d5d5;
	border-bottom: 1px solid #ffffff;
	margin: 0 auto 0 auto;
}

.login-container form hr.decoration {
	width: 140px;
	border-top: 2px solid #ff6600;
	position: absolute;
	left: 5px;
	top: 44px;
}

.login-container form hr.separator {
	width: 390px;
	border: 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #ffffff;
	margin: 0 auto 0 auto;
}

.login-container form .hint {
	min-height: 30px;
	padding: 10px 50px 0 50px;
	position: relative;
}

.login-container form .hint-info {
	height: auto;
	padding: 10px 50px 20px 50px;
	font-size: 12px;
}

.login-container form .hint-error {
	height: auto;
	padding: 10px 50px 20px 50px;
	font-size: 12px;
}

.login-container form .hint .info {
	color: #ff6600;
}

.login-container form .hint .info a {
	color: #b6b6b6;
	text-decoration: none;
	position: absolute;
	right: 50px;
	top: 10px;
}

.login-container form .hint .info a:hover {
	text-decoration: underline;
}

.login-container form .hint .error {
	color: #ff0000;
}

.login-container form .hint-error .error-panel {
	margin-left: 160px;
}

.login-container form .hint-error .error-panel a {
	display: block;
	color: #ff6600;
	margin-top: 5px;
}

.login-container form .hint-error .error-logo {
	width: 64px;
	height: 64px;
	float: left;
	background-image: url("../img/error.jpg");
	margin-top: 9px;
	margin-left: 50px;
	*margin-left: 25px;
}

.login-container form .hint-error .error-title {
	font-size: 48px;
	color: #ff6600;
	height: 48px;
	line-height: 48px;
	margin-bottom: 30px;
}

.login-container form .hint-error .error-info {
	font-size: 18px;
	line-height: 24px;
	color: #4a4a4a;
	margin-bottom: 30px;
}

.login-container form .hint-ul {
	text-align: center;
}

.login-container form .hint ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.login-container form .hint ul li {
	float: left;
	margin: 0 5px;
	font-size: 12px;
	color: #cccccc;
}

.login-container form .hint ul li a {
	text-decoration: none;
	color: #808080;
	font-size: 14px;
}

.login-container form .hint ul li a:hover {
	text-decoration: underline;
}

.login-container form fieldset {
	padding: 0 50px 17px 50px;
	margin: 0;
	border: 0;
}

.login-container form .input-prepend {
	font-size: 0;
	white-space: nowrap;
	margin-bottom: 15px;
}

.login-container form .input-prepend .add-on {
	display: inline-block;
	width: 33px;
	height: 26px;
	padding: 6px 3px 4px 3px;
	margin-right: -1px;
	border: 1px solid #CCC;
	background-color: #ebebeb;
	vertical-align: top;
}

.login-container form .input {
	font-size: 13px;
	display: inline-block;
	position: relative;
	width: 260px;
	height: 16px;
	margin: 0;
	*margin-top: -1px;
	padding: 10px;
	vertical-align: top;
	line-height: 18px;
	background-color: white;
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
}

.login-container form textarea {
	display: inline-block;
	width: 295px;
	height: 85px;
	margin: 0 0 16px 0;
	padding: 10px;
	background-color: white;
	border: 1px solid #CCC;
	-webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.08) inset;
	-moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.08) inset;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.08) inset;
	resize: none;
}

.login-container form .checkbox {
	display: block;
	min-height: 20px;
	margin-bottom: 15px;
	color: #b0b0b0;
}

.login-container form .btn-login {
	padding: 4px 12px;
	height: 38px;
	width: 322px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 -1px 1px rgba(169, 63, 0, 0.3);
	cursor: pointer;
	vertical-align: middle;
	border: #ff5a00 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(129, 48, 0, 0.32) inset;
	-moz-box-shadow: 0 1px 1px rgba(129, 48, 0, 0.32) inset;
	box-shadow: 0 1px 1px rgba(129, 48, 0, 0.32) inset;
	background: #ff5a00;
	background-image: -moz-linear-gradient(center top , #ff7101, #ff5a00);
	background-image: -ms-linear-gradient(top, #ff7101, #ff5a00);
	background-image: -webkit-linear-gradient(top, #ff7101, #ff5a00);
	background-image: -o-linear-gradient(top, #ff7101, #ff5a00);
	background-image: linear-gradient(top, #ff7101, #ff5a00);
	background-repeat: repeat-x;
}

.login-container form .btn-send {
	width: 92px;
	margin: 0 7px;
}

.login-container form .btn-cancel {
	width: 92px;
	border: #8e8e8e 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(129, 129, 129, 0.32) inset;
	-moz-box-shadow: 0 1px 1px rgba(129, 129, 129, 0.32) inset;
	box-shadow: 0 1px 1px rgba(129, 129, 129, 0.32) inset;
	background: #8e8e8e;
	background-image: -moz-linear-gradient(center top , #a6a6a6, #8e8e8e);
	background-image: -ms-linear-gradient(top, #a6a6a6, #8e8e8e);
	background-image: -webkit-linear-gradient(top, #a6a6a6, #8e8e8e);
	background-image: -o-linear-gradient(top, #a6a6a6, #8e8e8e);
	background-image: linear-gradient(top, #a6a6a6, #8e8e8e);
	background-repeat: repeat-x;
	margin: 0 7px;
}

.login-container form .btn-login:hover {
	background: #ff5a00;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.login-container form .btn-cancel:hover {
	background: #8e8e8e;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.login-container form .btn-groups {
	width: 220px;
	height: 36px;
	margin: 0 auto 13px auto;
}

i {
	width: 30px;
	height: 25px;
	display: inline-block;
}

.icon-user {
	background-image: url("../img/tiny.jpg");
	background-position: -35px -5px;
	background-repeat: no-repeat;
}

.icon-key {
	background-image: url("../img/tiny.jpg");
	background-position: -2px -5px;
	background-repeat: no-repeat;
}

.placeholder {
	font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a9a9a9;
}

.title {
	position: absolute;
	bottom: 30px;
	left: 200px;
	background-image: url("../img/title.jpg");
	background-repeat: no-repeat;
	width: 624px;
	height: 179px;
	z-index: 10;
}

.login-container form .cards {
	padding-top: 5px;
}

.login-container form .card {
	color: #b6b6b6;
	display: block;
	width: 320px;
	height: 45px;
	margin: 0 auto;
	margin-bottom: 15px;
	text-decoration: none;
	background-color: white;
	border: 1px solid #CCC;
	outline: 0;
}

.login-container form .card:hover {
	border: #ff6600 1px solid;
}

.login-container form .card:hover .card-action {
	border-left: #ff6600 1px solid;
	background-color: #ff6600;
	color: white;	
}

.login-container form .card:hover .card-name {
	color: #ff6600;
}

.login-container form .card .card-action {
	float: right;
	display: inline-block;
	background-color: #ebebeb;
	padding-top: 12px;
	height: 33px;
	width: 45px;
	text-align: center;
	font-size: 24px;
	border-left: 1px solid #CCC;
	cursor: pointer;
}

.login-container form .card .card-name {
	float: left;
	display: inline-block;
	padding-top: 12px;
	padding-left: 12px;
	height: 33px;
	font-size: 14px;
	font-weight: 400;
	max-width: 200px;
	overflow: hidden;
}

